@import 'colors.css';

.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  background-image: var(--background-image);
  min-height: 100vh;
  color: var(--color);
  font-family: 'montserrat';
}

.cartList {
  border: 1px solid var(--bordercolor);
  width: 40%;
  min-height: 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-color);
}

.cartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 40px 7px 0;
  border-bottom: 2px solid #eaeaea;
  font-size: large;
}

.remove {
  text-decoration: underline;
  color: blue;
  border: none;
  background-color: inherit;
}
.remove:hover {
  color: red;
}

.link:visited {
/* color: var(--secondary-color); */
color: pink;
}
.link {
  /* color: var(--secondary-color); */
  color: pink;
  text-decoration: none;
}
.link:hover {
  color: pink;
  text-decoration: underline;
}
