:root {
  --primary-color: #f1e1e1;
  --secondary-color: #d8a5a5;
  --background-color: #fff;
  --color: #282828;
  --border-color: #ababab;
  --background-image: url(../media/asfalt-dark.png);
}

[data-theme="dark"] {
  --primary-color: #8d6d6d;
  --secondary-color: #b8acac;
  --background-color: #282828;
  --color: #fff;
  --border-color: #3e3e3e;
  --background-image: url(../media/asfalt-light.png);
}