@import "colors.css";


.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: inherit;
  color: var(--border-color);
  position: fixed;
  bottom: 2%;
  right: 0%;
  margin-right: 20px;
}



.themeswitchwrapper {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 2px;
  max-width: 240px;
}

.themeswitchwrapper .em {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1rem;
  color: var(--color)
}

.themeswitch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.themeswitch input {
  display:none;
}

.slider {
  background-color: var(--primary-color);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--secondary-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}