@import "colors.css";

.headercontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #eaeaea;   */
  background-color: var(--primary-color);
  position: fixed;
  top: 0%;
  width: 100%;
  margin-bottom: 40px;
  font-family: 'Montserrat';
  height: 80px;
  border-bottom: 2px solid var(--color);
}

.headertitle {
  margin-left: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  text-decoration: underline overline var(--secondary-color);
}

.headertotal {
  margin-right: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.headertitle a {
 text-decoration: none;
 color: rgb(0, 0, 0)
}

.cartLink {
  text-decoration: none;
  color: inherit;
}

.cartLink :hover {
  color: blue;
  transform: translate(-5px);
  transition: 250ms;
  text-decoration: underline;
}


.themeswitchwrapper {
  display: flex;
  align-items: center;
}

.themeswitchwrapper .em {
  margin-left: 10px;
  font-size: 1rem;
}

.themeswitch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.themeswitch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.headerRight {
  display:flex;
  flex-direction: row;
  align-items: center;

  /* border: 1px dotted blue; */
}

.loggedIn {
  display:flex;
  flex-direction: column;
  margin-bottom: 5px;
  align-items: center;
  padding-left: 5px;
  padding-bottom: 5px;

  border-left: 2px solid var(--color);
}

.loggedOut {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5px;
  padding: 30px;
  border-left: 2px solid var(--color);
}

.username {
  color: var(--secondary-color)
  /* margin-right: 10px; */
}
