@import 'colors.css';

.login-popup {
  max-width: 400px;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: var(--secondary-color);
  border: 1px solid #eaeaea;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}